/* Mobile first approach */
/* Sizing
*/
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #5C5C5C;
}

::selection {
  color: white;
  background: #5C5C5C;
}

body,
.nav-link {
	font-family: 'interstate', sans-serif;
	color: #5C5C5C;
	line-height: 1.55;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: uppercase;
}

.navbar.scrolled {
	background-color: #fff !important;
	transition: background-color 200ms linear;
	box-shadow: 0 3px 8px hsla(0, 0%, 0%, 0.07);
}

a {
	color: #FF5F5F;
}

a:hover {
	color: #343434;
	text-decoration: none;
}

/* Headers
*/
.title {
	font-size: 36px;
	line-height: 1;
}
.sub-title {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.h1, h1 {
	font-size: 2rem;
}
	
.h2, h2 {
	font-size: 1.55rem;
}

h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5,
.title {
	font-family: 'forma-djr-text', sans-serif;
	font-weight: 700;
	color: #343434;
}

.h3, h3 {
	font-size: 1.2rem;
}

h5 {
	font-size: 15px;
}

/* Card 
*/
.card-body {
	padding: 1.15rem;
}

.card {	
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	transition: box-shadow .3s linear;
	transition: border .1s linear;
}
.card-img-overlay {
	padding-top: 2.25rem;
}

.my-box-shadow,
.btn,
.card:hover {
	box-shadow: 0 3px 6px #1924381a;
}

.service-card {
	padding-bottom: 45px;
	padding-top: 45px;
}
.services-card-title {
	margin-bottom: 24px;
}

/* Card Borders  */
.myellow-border:hover {
	border: 1px solid #FFAA00;
}
.mred-border:hover {
	border: 1px solid #FF2B00;
}
.mblue-border:hover {
	border: 1px solid #006AFF;
}
.mgreen-border:hover {
	border: 1px solid #2DD90B;
}

/* Buttons
*/
/* Buttons */
.btn-a {
	display: inline-block;
  color: white;
  min-width: 154px;
  text-decoration: none;
	padding: 15px 0;
  position: relative;
  /* text-align: center; */
}
.btn-a:hover .button-stroke:nth-child(2),
.btn-a:hover .button-stroke2:nth-child(2) {
  stroke-dashoffset: 0;
}
.button-stroke,
.button-stroke2 {
  display: block;
  height: 20px;
  stroke: #FFDF5F;
  position: absolute;
  /* left: 20px; */
  bottom: -5px;
	stroke-width: 4;
}
.button-stroke {
	width: calc(100% - 40px);
}
.button-stroke2 {
	width: calc(100% - 10px);
}
.button-stroke:nth-child(2),
.button-stroke2:nth-child(2) {
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  stroke: #11171a;
  stroke-width: 5;
  transition: stroke-dashoffset 800ms ease-out;
}


.btn {
	border-radius: 2px;
	padding: 0.75rem 1.75rem;
	transition: background-color 200ms linear;
	color: white;
	letter-spacing: 1.85px;
	font-size: 14px;
	font-family: 'forma-djr-text', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.btn:hover {
	color: white;
}
.btn-group-lg>.btn, .btn-lg {
	padding: 1.4rem 2.25rem;
	font-size: 18px;
}
.static {
	position: absolute;
}
.btn-sm {
	padding: 0.4rem 0.95rem;
	font-size: 13px;
	border: 0;
}
/* Call to action green buttons */
.btn-cta {
	background-color: #FFDF5F;
	border-color: #FFDF5F;
	color: #343434;
}
.btn-cta:hover {
	background-color: #ffe373;
	border-color: #ffe373;
	color: #343434 !important;
}
.btn-primary {
	background-color: #134FD5;
	border-color: #134FD5;
}
.btn-primary:hover {
	background-color: #1459ec;
	border-color: #1459ec;
}
.btn-primary2 {
	background-color:#0A85FF;
	border-color: #0A85FF;
}
.btn-primary2:hover {
	background-color:#1588fa;
	border-color: #1588fa;
}
.btn-secondary {
	background-color: #343434;
	border-color: #343434;
}
.btn-secondary:hover {
	background-color: #4b4b4b;
	border-color: #4b4b4b;
}
.btn-alt {
	background-color: white;
	border-color: #134FD5;
	color: #134FD5;
}
.btn-alt:hover {
	background-color: #1459ec;
	border-color: #1459ec;
}



.h-button {
	letter-spacing: -1px;
}
.h-button span {
  display: inline-block;
  min-width: 0.3em;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px);
}
.h-button:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
	letter-spacing: 1.85px;
  opacity: 1;
  transform: translate(0, 0px);
}
.h-button:hover:before, .h-button:focus:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.h-button:hover span, .h-button:focus span {
  opacity: 1;
  transform: translate(0, 0);
}
.h-button:hover span:nth-child(1), .h-button:focus span:nth-child(1) {
  transition-delay: 0.005s;
}
.h-button:hover span:nth-child(2), .h-button:focus span:nth-child(2) {
  transition-delay: 0.015s;
}
.h-button:hover span:nth-child(3), .h-button:focus span:nth-child(3) {
  transition-delay: 0.025s;
}
.h-button:hover span:nth-child(4), .h-button:focus span:nth-child(4) {
  transition-delay: 0.055s;
}
.h-button:hover span:nth-child(5), .h-button:focus span:nth-child(5) {
  transition-delay: 0.75s;
}
.h-button:hover span:nth-child(6), .h-button:focus span:nth-child(6) {
  transition-delay: 0.10s;
}
.h-button:hover span:nth-child(7), .h-button:focus span:nth-child(6) {
  transition-delay: 0.120s;
}
.h-button:hover span:nth-child(8), .h-button:focus span:nth-child(6) {
  transition-delay: 0.135s;
}
.h-button:hover span:nth-child(9), .h-button:focus span:nth-child(6) {
  transition-delay: 0.155s;
}
.h-button:hover span:nth-child(10), .h-button:focus span:nth-child(6) {
  transition-delay: 0.175s;
}
.h-button:hover span:nth-child(11), .h-button:focus span:nth-child(6) {
  transition-delay: 0.20s;
}
.h-button:hover span:nth-child(12), .h-button:focus span:nth-child(6) {
  transition-delay: 0.35s;
}
.h-button:hover span:nth-child(13), .h-button:focus span:nth-child(6) {
  transition-delay: 0.55s;
}



/* input */

.form-control {
	padding: 0.375rem .75rem calc(0.375rem + 1px) .75rem;
	font-size: 14px;
	color: #1A2438;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	box-shadow: 0 3px 6px #1924381a;
	background: rgba(246, 246, 246, 1);
	transition: 0.5s ease-in-out;
}
select.form-control {
	height: 45px;
}

.form-control:focus {
	color: #1A2438;
	border-color: #134FD5;
	box-shadow: 0 0 0 transparent;
}
.form-group {
	margin-bottom: 1.5rem;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #7C8494 !important;
	font-family: 'Open Sans', sans-serif;
	opacity: 1;
	font-size: 13px;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #7C8494 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #7C8494 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

/* Backgrounds */

.bg-lgray {
	background: #F4F6F8;
}

.bg-lblue {
	background: #FAFCFF;
}
.bg-lyellow {
	background: #FEFCF9;
}
.bg-lgreen {
	background: #FBFFFA;
}
.bg-mpurple {
	background: #F9F9FC;
}
.bg-footer {
	background: #EFEFF4;
}
.bg-white {
	background: white;
}

/* Colours */

.c-black {
	color: #343434;
}
.c-bluee {
	color: #79cff1;
}
.c-blue {
	color: #395eca;
}
.c-gray {
	color: #5C5C5C;
}
.c-white {
	color: #fff;
}
.c-red {
	color: #FF5F5F ;
}
.ab-services a {
	text-transform: uppercase;
}

/* Footer 
*/
.action {
  color: #fff;
  background: linear-gradient(45deg, rgb(0, 0, 0) 10%, #bdbdbd 50%, #1f1f1f 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.border-right {
	border-right: 1px solid #D3D3D3;
}
.border-left {
	border-left: 1px solid #D3D3D3;
}

footer a,
.ab-services a {
	color: #454545;
}

footer a:hover,
.ab-services a:hover {
	color: rgb(0, 0, 0);
}

footer ul {
	list-style: none;
	padding: 0;
	text-transform: uppercase;
}

footer .social a:hover {
	text-transform: none;
	text-decoration: none;
}





/* ***
***
***
*** */

/* For desktop: */
@media only screen and (min-width: 768px) {

	body,
	.nav-link {
		font-size: 16px;
		line-height: 1.75;
	}

	/* Headers
	*/
	.title {
		font-size: 48px;
		line-height: 1.45;
	}
	.h1, h1 {
    font-size: 2.5rem;
		line-height: 1;
	}
	.h2, h2 {
		font-size: 2rem;
	}
	h5 {
		font-size: 18px;
	}
	.s-meaning {
		font-size: 22px;
	}

	/* Buttons
	*/
	/* Buttons */
	.btn {
		border-radius: 2px;
		padding: 0.75rem 1.75rem;
		letter-spacing: 1.85px;
		font-size: 14px;
	}
	.h-button {
		letter-spacing: -1px;
	}
	.btn-group-lg>.btn, .btn-lg {
		padding: 1.4rem 2.25rem;
		font-size: 18px;
	}
	.btn:hover {
		color: white;
	}
	.btn-sm {
		padding: 0.4rem 0.95rem;
		font-size: 13px;
		border: 0;
	}

	/* Input  */

	.form-control {
		padding: 1.375rem .75rem calc(1.375rem + 1px) .75rem;
	}
}

/*** 
*End desktop CSS  
*/